@model RoleTopMVC.ViewModels.BaseViewModel
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RolêTop</title>
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid:900%7COpen+Sans" rel="stylesheet">
    <link href="~/css/role.css" rel="stylesheet" type="text/css">
    <link href="~/css/cadastro.css" rel="stylesheet" type="text/css">
    <link href="~/css/galeria.css" rel="stylesheet" type="text/css">
    <link href="~/css/eventos.css" rel="stylesheet" type="text/css">
    <link href="~/css/dashboard.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/349a64cb04.js"></script>
</head>

<body>

    <header>
        <nav>      
        <ul>
                    <li><a asp-controller="Home" asp-action="Index" class="active">HOME</a></li>
                    <li><a asp-controller="Galeria" asp-action="Galeria" class="active">GALERIA</a></li>
                    <li><a asp-controller="Evento" asp-action="Evento" class="active">EVENTO</a></li>
                    @if(string.IsNullOrEmpty(@Model.UsuarioEmail))
                    {
                    <li><a asp-controller="Cliente" asp-action="Login" class="active">LOGIN</a></li>    
                    }
                    else
                    {
                        <li><a asp-controller="Administrador" asp-action="Dashboard">DASHBOARD</a></li>
                        <li><a asp-controller="Cliente" asp-action="Logoff">LOGOFF</a></li>
                    }
                
                </ul>
            </nav>
            </header>
            @RenderBody()
            <footer>
            <h2>Viaje na Nossa Viagem</h2>
            <p>Localização:Alameda Barão de Limeira, 539 Santa Cecília-SP</p>
            <P>Telefone: 4002-8922</P>
            <a href="#">Voltar para o topo</a>
        </footer>
    </body>
    </html>
    