<main>
        <section id="conheça">
            <h1>Agora conheça um pouco mais do nosso local</h1>
        </section>

                <br>
            
                    <div class="fotinhas">
    
    <img src="~/img/festa 1.jpg">

    <img src="~/img/festa 2.jpg">

    <img src="~/img/festa 3.jpg">

    <img src="~/img/festa4.jpg">

    <img src="~/img/new imagem 1.jpg">

    <img src="~/img/NEW IMAGEM 2.jpeg">

    <img src="~/img/NEW IMAGEM 3.jpeg">
                                    </div>

                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>         

<div class="fotinhas2">
    <img src="~/img/NEW IMAGEM 5.jpeg">

    <img src="~/img/NEW IMAGEM 6.jpeg">

    <img src="~/img/NEW IMAGEM 7.jpeg">

</div>

                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>

<div class="fotinhas3">
    <img src="~/img/NEW IMAGEM 8.jpeg">
    <img src="~/img/NEW IMAGEM 9.jpeg">
    <img src="~/img/NEW IMAGEM 10.jpeg">
    <img src="~/img/NEW IMAGEM 11.jpeg">
    <img src="~/img/NEW IMAGEM 12.jpeg">
    <img src="~/img/NEW IMAGEM 13.jpeg">
</div>
                        <br>
                        <br>
                        <br>
                    </main>