@model RoleTopMVC.ViewModels.HistoricoViewModel
@{
    
}
        <main>
        <h3>Tipo de eventos</h3>
                    <table>
                        <thead>
                            <tr>
                                <th rowspan="2">Nome do cliente</th>
                                <th rowspan="2">Tipo do evento</th>
                                <th colspan="2">Data e hora do evento</th>
                                <th colspan="2" rowspan="2">Aprovar</th>
                            </tr>
                            <tr>
                                <th><i class="far fa-calendar"></i></th>
                                <th><i class="far fa-clock"></i></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <p>Pedidos atualizados em 10/09/2019 às 14:10</p>
                                </td>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>Cesar Sportore</td>
                                <td>Festa de aniversário</td>
                                <td>14/09/2019</td>
                                <td>15:30</td>
                                <td><a href="#"><i class="fas fa-check"></i></a></td>
                                <td><a href="#"><i class="fas fa-times"></i></a></td>
                            </tr>
                            <tr>
                                <td>Alexandre Fukaya</td>
                                <td>Casamento</td>
                                <td>20/09/2019</td>
                                <td>22:00</td>
                                <td><a href="#"><i class="fas fa-check"></i></a></td>
                                <td><a href="#"><i class="fas fa-times"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    </main>