@model RoleTopMVC.ViewModels.HistoricoViewModel
@{
    ViewData["Title"] = "Eventos - McBonald's";
    ViewData["H2"] = "Histórico de Eventos";
}

<main>
    <h2>@ViewData["H2"]</h2>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>TipoEvento</th>
                <th>Convidados</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach( var evento in Model.Eventos ) {
                <tr>
                    <td>@evento.DataDoEvento</td>
                    <td>@evento.TipoEvento.Nome</td>
                    <td>@evento.Convidados.Nome</td>
                </tr>
            }
        </tbody>
    </table>

</main>