<main>
<form method="POST"action='@Url.Action("Login", "Cliente")'>
                                    
                                    <div>
                                        <label for="email">EMAIL</label>
                                        <br/>
                                        <input id="email" type="email" maxlength="40" name="email"/>
                                    </div>
                                    
                                    <div>
                                        <label for="senha">SENHA</label>
                                        <br/>
                                        <input id="senha" type="password" maxlength="20" minlength="3" name="senha" />
                                    </div>
                                    
                                    <input type="submit"value="ENTRAR!"/>
                                </form>
                                
                                    <ul>
                                    </section>
                                </section>
                            </div>
                        </section>
                        </main>