<main>

                    <section id="login">
                    
                            <h1>Cadastre-se Aqui!</h1>
                                <br>
                                    <br>

                            <form method="POST"action='@Url.Action("CadastrarCliente", "Cadastro")'>
                                
                                <div>
                                    <label for="nome">NOME COMPLETO</label>
                                    <br/>
                                    <input id="nome" type="text" maxlenth="20" minlength="3" name="nome" />
                                </div>
                                
                                <div>
                                    <label for="senha">SENHA</label>
                                    <br/>
                                    <input id="senha" type="password" maxlength="20" minlength="3" name="senha" />
                                </div>
                                
                                <div>
                                    <label for="telefone">TELEFONE</label>
                                    <br/>
                                    <input id="telefone" type="tel" name="telefone"/>
                                </div>

                                <div>
                                    <label for="email">EMAIL</label>
                                    <br/>
                                    <input id="email" type="email" name="email"/>
                                </div>

                                <div>
                                    <label for="CPF/CNPJ">CPF/CNPJ</label>
                                    <br/>
                                    <input id="CPF/CNPJ" type="tel" name="cpf"/>
                                </div>

                                <input type="submit"value="ENTRAR!"/>
                            </form>
                            </section>

                            <section id="login">
                
                                <br>
                
                        <br>
                            
                            <a href='@Url.Action("Login", "Cliente")'>Já possui cadastro?</a>
                                                
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </main>