<main>
    <h1>Realize aqui o orçamento do seu evento !</h1>

    <form method="GET"action="#">
                                    
            <div>
                <label for="email">EMAIL</label>
                <br/>
                <input id="email" type="email" maxlength="40"/>
            </div>
            <br/>
            <div>
                <label for="senha">SENHA</label>
                <br/>
                <input id="senha" type="password" minlength="3" maxlength="20"/>
            </div>
                <br/>
            <div>
                <label for="telefone">Telefone</label>
                <br/>
                <input id="telefone" type="tel" minlength="8"/>
            </div>
                <br/>
            <div>
                <label for="data do evento">data do evento</label>
                <br/>
                <input id="date" type="date" value="2019-09-11" min="2019-09-11" max="2019-10-30">
            </div>
                <br/>
            <div>
                <label for="quantidade de convidados">Quantidade de convidados</label>
                <br/>
                <select id="convidados">
                    <option value="" disabled selected>selecione quantidade de convidados</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="250">250</option>
                    <option value="300">300</option>
                    <option value="500">500</option>
                    <option value="700">700</option>
                    <option value="1000">1000</option>
                </select>
            </div>
                <BR/>
            <div>
                <label for="tipo de evento">Tipo do Evento</label>
                <br/>
                <select id="evento">
                    <option value="" disabled selected>Selecione o tipo de evento</option>
                    <option value="Casamento">Casamento</option>
                    <option value="Festa de aniversário">Festa de aniversário</option>
                    <option value="Festa Social">Festa Social</option>
                    <option value="Formaturas">Formaturas</option>
                    <option value="Chá de bebê">Chá de bebê</option>
                    <option value="Balada">balada</option>
                    <option value="15 anos">15 anos</option>
                </select>
            </div>

           <input type="submit"value="ENVIAR ORÇAMENTO"/>
    </form>

     
            <br>
            <br>
            <br>
        </main>