@model RoleTopMVC.ViewModels.EventoViewModel
<main>
    <h1>Realize aqui o orçamento do seu evento  !</h1>

    <form method="POST"action='@Url.Action("Registrar","Eventos")'>
                                    
            <div>
                <label for="email">EMAIL</label>
                <br/>
                <input id="email" type="email" maxlength="40"  name="nome"/>
            </div>
            <br/>
            <div>
                <label for="senha">SENHA</label>
                <br/>
                <input id="senha" type="password" minlength="3" maxlength="20" value="Model.Cliente.Senha" name="senha"/>
            </div>
                <br/>
            <div>
                <label for="telefone">Telefone</label>
                <br/>
                <input id="telefone" type="tel" minlength="8"/>
            </div>
                <br/>
            <div>
                <label for="data do evento">data do evento</label>
                <br/>
                <input id="date" type="date" value="2019-09-11" min="2019-09-11" max="2019-10-30" name="data"/>
            </div>
                <br/>
            <div>
                <label for="quantidade de convidados">Quantidade de convidados</label>
                <br/>
                <select id="convidados" name="convidados" required>
                    <option value="" disabled selected>selecione quantidade de convidados</option>
                    @foreach (var cv in Model.Convidados)
                    {
                        <option value=@cv.Nome>@cv.Nome</option>
                    }
                </select>
            </div>
                <BR/>
            <div>
                <label for="tipo de evento">Tipo do Evento</label>
                <br/>
                <select id="evento" name="evento">
                    <option value="" disabled selected>Selecione o tipo de evento</option>
                    @foreach (var e in Model.TipoEvento)
                    {
                        <option value=@e.Nome>@e.Nome</option>
                    }
                </select>
            </div>

        <input type="submit"value="ENVIAR ORÇAMENTO"/>
    </form>

    
            <br>
            <br>
            <br>
        </main>