* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../RolêTop/imagens/universo-2.jpeg');
    background-color: #FFC600;
    background-position: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Fredoka One', 'Londrina Solid', cursive;
    color: white;
}

nav ul {
    width: 100%;  
    padding: 0px;
    margin: 0px;
    background-color:#7D0093;
    list-style: none;

    
}

nav ul li {
    display: inline;
    font-size: 1.5em;

}

nav ul li a {
   flex-wrap: nowrap;
    padding: 15px 188px;
    display: inline-block;
    color:white;
    text-decoration: none;
    border-bottom: 3px solid #FFFFFF;
    border-bottom: none;
 
}
    nav ul li a:hover {
        color: black;
    }

/*************************************************************************************************************************************************
                                                                    #logo-área
**************************************************************************************************************************************************/

#logo-area > img {
padding: 3em 0 0 0;
width: 26%;
position: relative;
left: 35%;
background-position: center;

}

#logo-area {
    background-image: url('../RolêTop/imagens/universo-2.jpeg');
    background-position: center;

}

#logo-area h1 {
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    padding: 1.5em 0 0 0;
    color: white;
    position: relative;
    left: 40%;
    max-width: 1000px;
}
/***********************************************************************************************************************************************************
                                                            fim do #logo-área
************************************************************************************************************************************************************/

#galeria {
    width: 600px;
    height: 800px;
    margin: 0 auto;

}

#galeria > img {
    width: 600px;
    height: 600px;
   

}

#galeria h1 {
    font-family: 'Fredoka One', 'Londrina Solid', cursive;
    font-size: 80px;
    text-align: center;
    color: white;
 
}

#galeria a {
    color: white;
}

#galeria a:hover {
    background-color: #1d90e5;
}

/*************************************************************************************************************************************************************
                                                        .MAPA-CONTAINER
**************************************************************************************************************************************************************/ 

.mapa-container {
    text-align: center;
}

.mapa-container {
    font-family: 'Anton', sans-serif;
    font-size: 80px;
}

/*******************************************************************************************************************************************************************************
                                                    FIM DO .MAPA-CONTAINER
********************************************************************************************************************************************************************************/



/*******************************************************************************************************************************************************************************
                                                    AREA DO LOGIN
*******************************************************************************************************************************************************************************/

form * {
    margin: 5px 0;
    text-align: left;
    overflow: hidden;
    text-align: center;
}


form input, form select {
    width: 24%;
    height: 25px;
    border: none;
    text-align: left;
    padding: 0 2px;
}  

form label {
    color: white;
    font-weight: bold;
}

form input[type="submit"] {
    background-color: #7D0093;
    border: 1px solid black;
    color: white;
    margin: 20px 0;
    height: 2em;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
}

form input[type="submit"]:hover {
    background-color: #1d90e5;
    color: black;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-weight: bolder;
}

#login {
    text-align: center;
}
/*******************************************************************************************************************************************************************************
                                                                FIM DA AREA DE LOGIN
********************************************************************************************************************************************************************************/



#perguntas {
    text-align: center;
    font-size: 1.5em;
}



/********************************************************************************************************************************************************************************
                                                                AREA DE PAGAMENTO
*********************************************************************************************************************************************************************************/
#pagamento {
    text-align: center;
   }

   #pagamento > img {
       width: 800px;
       height: 600px;
   }

  #pagamento h1 {
      font-size: 80px;
  }

  #pagamento ul li {
      font-size: 40px;
  }

  #pagamento a {
     color: white;
  }

  #pagamento a:hover {
      background-color: #1d90e5;
  }


  /*******************************************************************************************************************************************************************************
                                                            FIM DA AREA DE PAGAMENTO
  *******************************************************************************************************************************************************************************/

hr {
    border: 2px solid;
    color: white;
}

h1 {
    color: white;
}

p {
    color: white;
}

li {
    color: white;
}

/************************************************************************************************************************************************************************************************
                                                                                        RODAPÉ-FOOTER
************************************************************************************************************************************************************************************************/
footer {
    background-color: #7D0093;
    text-align: center;
}

footer a {
    color: black;
    font-size: 1.3em;
}

footer p {
    font-size: 1.3em;
}

/************************************************************************************************************************************************************************************************
                                                                                    FIM DO RODAPÉ-FOOTER
************************************************************************************************************************************************************************************************/

#doit li a {
    color: white;
}














